<img class="image" [src]="resetBg">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="left">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Veuillez saisir votre adresse mail</mat-card-title>
      </mat-card-header>
      <form class="formulaire">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput type ="email" placeholder="E-mail">
            <mat-icon matPrefix>email</mat-icon>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Envoyer</button>
      </form>
    </mat-card>
  </div>  