<app-nav></app-nav>
<mat-card>
    <mat-card-content>
        <div class="card-container">
            <mat-card class="card">
              <mat-card-content>
                <span class="Mission">0</span><br>
                <span>Missions proposées</span>

                </mat-card-content>
            </mat-card>
          
            <mat-card class="card">
              <mat-card-content>
                <span class="Mission">0</span><br>
                <span>Missions en cours</span></mat-card-content>
            </mat-card>
          
            <mat-card class="card">
              <mat-card-content>
                <span class="Mission">0</span><br>
                <span>Missions terminées</span>
              </mat-card-content>
            </mat-card>
          </div>
        <mat-tab-group>
            <mat-tab label="Missions proposées"> Content 1 </mat-tab>
            <mat-tab label="Missions en cours"> Content 2 </mat-tab>
            <mat-tab label="Missions terminées"> Content 3 </mat-tab>
          </mat-tab-group>
    </mat-card-content>
</mat-card>