<mat-toolbar>
    <!-- Your existing toolbar content -->
    <span>
        <mat-toolbar-row class="d-flex">
            <!-- Logo -->
            <div class="logo">
                <img src="assets/images/logo choufli hal.png" alt="Logo" routerLink="/home" />
            </div>
            <span class="example-spacer"></span>
            <div class="row">
                <ul>
                    <li>
                        <button routerLink="/login">Sign In</button>
                    </li>
                    <li>
                        <button routerLink="/register">Sign Up</button>
                    </li>
                </ul>
            </div>
        </mat-toolbar-row>
    </span>
</mat-toolbar>